body {
  margin: 0;
  color: black;
  background-color: rgb(231, 230, 230);
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchArea {
  margin-top: 50px;
  padding: 20px;
}
.searchArea h1 {
  margin-bottom: 30px;
  text-align: center;
}
#weatherInput {
  width: 300px;
  height: 35px;
  border-radius: 15px;
  border: none;
  display: inline-flex;
  text-align: center;
}

#weatherInput:focus {
  outline: none;
}

#btn {
  width: 100px;
  padding: 10px;
  color: white;
  background: gray;
  border-radius: 2px;
  margin-left: 40px;
}

.displayWeather {
  width: 100%;
  text-align: center;
}
.card {
  width: 85%;
  max-width: 500px;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(206, 203, 203);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 100px;
}

.tempH3 {
  font-size: 5rem;
  margin: 0;
  font-weight: 300;
  cursor: pointer;
}

.conditionh3 {
  max-width: 300px;
}
